.banners {
  padding: 40px 0 0;
  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }
  .banner-wrapper {
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 5%);
    padding: 6px;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    &:hover {
      .banner-wrapper-content {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    &-content {
      position: absolute;
      z-index: 2;
      padding: 22px 30px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      color: #fff;
      transition: background-color 0.2s ease-in-out;
      @include media-breakpoint-down(md) {
        background: rgba(0, 0, 0, 0.15);
      }
      .h4 {
        font-weight: 900;
        @include media-breakpoint-down(md) {
          font-size: 1.5rem;
          line-height: 32px;
        }
      }
      &-tag {
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 1px 8px;
        font-size: 12px;
        text-transform: uppercase;
      }
      &-time {
        position: absolute;
        bottom: 22px;
        left: 30px;
        color: #f5f8f9;
        font-size: 15px; 
      }
    }
  }
}